<td>
<div style="margin-top:15px;">
<div class="corner-bl"><div class="corner-br"><div class="corner-tl"><div class="corner-tr">
<div id="cdata-text">
<div class="typeface-js" style="font-family: AntiquaSSK;color:#ffffff;font-size:18px;text-align:center;">
<div style="display:inline;float:left;margin-left:45px;position:static;">Flood System</div>
</div>
<br />
<div id="sep-medium"></div>

<div align="center" style="font-family: Verdana;color:#f4f9ff;font-size:10px;padding-top:15px;">
{the_status}
<form name="flood_system" action="?page=administration&flood" method="post">
<br ><br />
<u>All values are in seconds!</u>
<table cellspacing="5" cellpadding="5">
<tr><th>Website Flood Bypass</th><td><input type="text" name="main_bypass" tabindex="1" value="[config_main_flood_bypass]" /></td></tr>
<tr><th>Website Flood Ban Time</th><td><input type="text" name="main_time" tabindex="2" value="[config_main_flood_time]" /></td></tr>
<tr colspan="2"><td>&nbsp;</td></tr>
<tr><th>Register Flood Bypass</th><td><input type="text" name="register_bypass" tabindex="3" value="[config_recover_flood_bypass]" /></td></tr>
<tr><th>Register Flood Ban Time</th><td><input type="text" name="register_time" tabindex="4" value="[config_recover_flood_time]" /></td></tr>
<tr colspan="2"><td>&nbsp;</td></tr>
<tr><th>Recover Flood Bypass</th><td><input type="text" name="recover_bypass" tabindex="5" value="[config_register_flood_bypass]" /></td></tr>
<tr><th>Recover Flood Ban Time</th><td><input type="text" name="recover_time" tabindex="6" value="[config_register_flood_time]" /></td></tr>
<tr colspan="2"><td>&nbsp;</td></tr>
<tr><th>Change Pass Flood Bypass</th><td><input type="text" name="cpass_bypass" tabindex="7" value="[config_cpass_flood_bypass]" /></td></tr>
<tr><th>Change Pass Flood Ban Time</th><td><input type="text" name="cpass_time" tabindex="8" value="[config_cpass_flood_time]" /></td></tr>
</table>

<br /><br />

<br />
<input type="submit" id="button" name="save" tabindex="9" value="SAVE" />

</form>
</div>
</div>
</div>
</div></div></div></div>

</td>
</tr>
