<tr>
<td>
<div style="margin-top:15px;">
<div class="corner-bl"><div class="corner-br"><div class="corner-tl"><div class="corner-tr">
<div id="cdata-text">
<div class="typeface-js" style="font-family: AntiquaSSK;color:#ffffff;font-size:18px;text-align:center;">
<div style="display:inline;float:left;margin-left:45px;position:static;">Template Management</div>
</div>
<br />
<div id="sep-medium"></div>

<div align="center" style="font-family: Verdana;color:#f4f9ff;font-size:10px;">
<br /><br />
{status}
<br /><br />
{templates_list}
<br /><br />
Current Selected Template: <b>[config_template_selected]</b>
<br /><br />
<fieldset>
<form name="template_settings" method="post">
<legend>Template settings</legend>
<table cellspacing="5" cellpadding="5">
<tr><th>Images folder</th><th><input type="text" name="images_folder" value="[config_template_images]" tabindex="1" /></th></tr>
<tr><th>Description</th><th><input type="text" name="description" style="width:300px;" value="[config_template_description]" tabindex="2" /></th></tr>
<tr><th>Keywords</th><th><input type="text" name="keywords" style="width:300px;" value="[config_template_keywords]" tabindex="3" /></th></tr>
<tr><th>Author</th><td><input type="text" name="author" value="[config_template_author]" tabindex="4" /></td></tr>
</table>
<input type="submit" name="save" tabindex="6" value="Save" />
</form>
</fieldset>
</div>
</div>
</div>
</div></div></div></div>

</td>
</tr>