<td>
<div style="margin-top:15px;">
<div class="corner-bl"><div class="corner-br"><div class="corner-tl"><div class="corner-tr">
<div id="cdata-text">
<div class="typeface-js" style="font-family: AntiquaSSK;color:#ffffff;font-size:18px;text-align:center;">
<div style="display:inline;float:left;margin-left:45px;position:static;">Donation Logs</div>
</div>
<br />
<div id="sep-medium"></div>

<div align="center" style="font-family: Verdana;color:#f4f9ff;font-size:10px;padding-top:15px;">

<br />
<font color="#13c800"><u>Confirmed Transactions</u></font>
<br /><br />
<table id="clan-details" cellspacing="2" cellpadding="2">
<tr>
<th>#</th>
<th>Transaction ID</th>
<th>Value</th>
<th>Currency</th>
<th>Payer Mail</th>
<th>Account</th>
<th>Pay Method</th>
</tr>
<tr>
{ok_logs_list}
</tr>

</table>

<br />
<font color="#d70000"><u>Invalid Transactions</u></font>
<br /><br />
<table id="clan-details" cellspacing="2" cellpadding="2">
<tr>
<th>#</th>
<th>Transaction ID</th>
<th>Value</th>
<th>Currency</th>
<th>Payer Mail</th>
<th>Account</th>
<th>Pay Method</th>
</tr>
{inv_logs_list}

</table>

</div>
</div>
</div>
</div></div></div></div>

</td>
</tr>
