<tr>
<td>
<div style="margin-top:15px;">
<div class="corner-bl"><div class="corner-br"><div class="corner-tl"><div class="corner-tr">
<div id="cdata-text">
<div class="typeface-js" style="font-family: AntiquaSSK;color:#ffffff;font-size:18px;text-align:center;">
<div style="display:inline;float:left;margin-left:45px;position:static;">Under Attack?</div>
</div>
<br />
<div id="sep-medium"></div>

<div align="center" style="font-family: Verdana;color:#f4f9ff;font-size:10px;">
<br /><br />
{status}
<br /><br />
<form name="under_attack" method="post">
If you're under attack, it's highly recommended to enable the next setting, so DragonEye will disable all the connections to your server database.
<br /><br /><br />
Because the database connection will be disabled, you will not be able to access the administration panel anymore, so you must do those things manually.
<br /><br />
- To disable under attack mode, you must follow this guide:
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://dragoneyecms.com/under_attack.php?guide=0" target="_blank">https://dragoneyecms.com/under_attack.php?guide=0</a>
<br />
<br />
- To add/edit/delete content pages, you must use this online tool
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://dragoneyecms.com/under_attack.php?content" target="_blank">https://dragoneyecms.com/under_attack.php?content</a>
<br />
<br />
<br />
<u>Under Attack Message</u>
<br /><br />
<textarea name="attackmsg" style="width:400px;height:60px;max-height:300px;" tabindex="1">[config_attack_message]</textarea>
<br />
<input type="submit" name="save" value="Defend!" tabindex="2" />
</form>
</div>
</div>
</div>
</div></div></div></div>

</td>
</tr>