<table id="char-details" cellspacing="5" cellpadding="5">
<tr>
<th>[lang_title]</th>
<td>{char_title}</td>
</tr>
<th>[lang_level]</th>
<td>{char_level}</td>
</tr>
<th>[lang_clan]</th>
<td><a href="?page=account&clans&id={char_clan_id}">{char_clan_name}</a></td>
</tr>
<th>[lang_class]</th>
<td>{char_class}</td>
</tr>
<th>[lang_on_time]</th>
<td>{char_online_time}</td>
</tr>
<th>[lang_last_access]</th>
<td>{char_last_access}</td>
</tr>
<th>[lang_recs]</th>
<td>{char_recs}</td>
</tr>
<th>[lang_pvp]</th>
<td>{char_pvp}</td>
</tr>
<th>[lang_pk]</th>
<td>{char_pk}</td>
</tr>
<th>[lang_noble]</th>
<td>{char_noblesse}</td>
</tr>
<th>[lang_hero]</th>
<td>{char_hero}</td>
</tr>
</table>