<form name="ftp_connect" method="post">

	<table>

		<tr>
			<td>FTP Server: </td>
			<td><input type="text" name="ftp_server" value="" />
			</td>
		</tr>

		<tr>
			<td>FTP Port: </td>
			<td><input type="text" name="ftp_port" value="21" />
			</td>
		</tr>

		<tr>
			<td>FTP Username: </td>
			<td><input type="text" name="ftp_user" value="" />
			</td>
		</tr>

		<tr>
			<td>FTP Password: </td>
			<td><input type="text" name="ftp_pass" value="" />
			</td>
		</tr>

		<tr>
			<td>FTP Path: </td>
			<td><input type="text" name="ftp_path" value="" />
			</td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="ftp_connect" value="Connect" />
			</td>
		</tr>

	</table>

</form>