<fieldset>
<legend>PaperDoll Items</legend>
<table cellspacing="5" cellpadding="5">
<tr>
<th>Weapon:</th>
<td>{weapon_name}</td><td><img src="[config_stats_inventory_images]{weapon_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
<th>Ring 1:</th>
<td>{ring1_name}</td><td><img src="[config_stats_inventory_images]{ring1_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
<tr>
<th>Shield:</th>
<td>{shield_name}</td><td><img src="[config_stats_inventory_images]{shield_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
<th>Ring 2:</th>
<td>{ring2_name}</td><td><img src="[config_stats_inventory_images]{ring2_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
<tr>
<th>Armor Main:</th>
<td>{armorm_name}</td><td><img src="[config_stats_inventory_images]{armorm_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
<th>Earring 1:</th>
<td>{earring1_name}</td><td><img src="[config_stats_inventory_images]{earring1_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
<tr>
<th>Armor Gaiters:</th>
<td>{armorg_name}</td><td><img src="[config_stats_inventory_images]{armorg_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
<th>Earring 2:</th>
<td>{earring2_name}</td><td><img src="[config_stats_inventory_images]{earring2_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
<tr>
<th>Gloves:</th>
<td>{gloves_name}</td><td><img src="[config_stats_inventory_images]{gloves_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
<th>Necklace:</th>
<td>{necklace_name}</td><td><img src="[config_stats_inventory_images]{necklace_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
<tr>
<th>Boots:</th>
<td>{boots_name}</td><td><img src="[config_stats_inventory_images]{boots_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
<th>Accessory 1:</th>
<td>{acc1_name}</td><td><img src="[config_stats_inventory_images]{acc1_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
<tr>
<th>Helment:</th>
<td>{helment_name}</td><td><img src="[config_stats_inventory_images]{helment_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
<th>Accessory 2:</th>
<td>{acc2_name}</td><td><img src="[config_stats_inventory_images]{acc2_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
<tr>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
<th>Accessory 3:</th>
<td>{acc3_name}</td><td><img src="[config_stats_inventory_images]{acc3_id}.[config_stats_inventory_images_ext]" width="32" height="32" /></td>
</tr>
</table>
</fieldset>
<br /><br />
<fieldset>
<legend>Inventory Items</legend>
<table cellspacing="5" cellpadding="5">
<tr><th>Item Name</th><th>Item Count</th><th>Item Enchant</th><th>Item Image</th><th>Item Location</th></tr>
{inventory_items}
</table>
</fieldset>