<tr>
<td>
<div style="margin-top:15px;">
<div class="corner-bl"><div class="corner-br"><div class="corner-tl"><div class="corner-tr">
<div id="cdata-text">
<div class="typeface-js" style="font-family: AntiquaSSK;color:#ffffff;font-size:18px;text-align:center;">
<div style="display:inline;float:left;margin-left:45px;position:static;">[lang_register]</div>
</div>
<br />
<div id="sep-medium"></div>
<br />
<div align="center" style="font-family: Verdana;color:#f4f9ff;font-size:10px;">

{status}
<form name="register" action="?page=account&register{val_refer}" method="post">

	<table>

		<tr>
			<td><b>[lang_user] :</b></td>
			<td><input type="text" name="register_username" value="{val_user}" /></td>
		</tr>

		<tr>
			<td><b>[lang_pass] :</b></td>
			<td><input type="password" name="register_password" value="{val_pass}" onfocus="this.value=''" /></td>
		</tr>

		<tr>
			<td><b>[lang_rpass] :</b></td>
			<td><input type="password" name="register_rpassword" value="{val_rpass}" onfocus="this.value=''" /></td>
		</tr>

		<tr>
			<td><b>[lang_mail] :</b></td>
			<td><input type="text" name="register_email" value="{val_email}" /></td>
		</tr>

		<tr>
			<td><b>[lang_rmail] :</b></td>
			<td><input type="text" name="register_remail" value="{val_remail}" /></td>
		</tr>

		<tr>
			<td><input type="submit" name="register_submit" value="[lang_register]" /></td>
			<td>&nbsp;</td>
		</tr>

	</table>

</form>
</div>
</div>
</div>
</div></div></div></div>

</td>
</tr>