<br /><br />
{reselect}
<table id="char-details" cellspacing="5" cellpadding="5">
<tr>
<th>Points</th>
<td>{points}</td>
</tr>
<tr>
<th>Account Name</th>
<td>{account_name}</td>
</tr>
<tr>
<th>Character</th>
<td>{character}</td>
</tr>

</table>
{buy_status}
<br />
<table id="clan-details" cellspacing="2" cellpadding="2">
<tr>
<th>#</th>
<th>Item Name</th>
<th>Item Count</th>
<th>Item Enchant</th>
<th>Item Price</th>
<th>Action</th>
</tr>
{items_list}
</table>
<br /><br />
<input type="submit" name="back" value="[lang_back]" onclick="window.location='?page=account&shop'" />