	<span>License Terms & Conditions Agreement.</span>
<div id="agree-bg">
	<p style="padding:15px;">

DragonEye system it's a free open-source content management system , so you can use it on unlimited websites without any restrictions.
<br /><br />
Even if it's free, you are not allowed to do the next things:
<br /><br />

- edit, remove or hide the copyright
<br />
- sell it to someone else (who maybe don't know that it's free)
<br />
- create update packs and sell them
<br />

<br /><br />
If you add create a template compatible with DragonEye CMS, don't forget to place {cms_copyright} somewhere in the template, but notice it must be visible to everyone (at least on the main page).
<br /><br />

</p>

</div>

<table border="0" align="center" cellspacing="15">
<tr>
<td><div id="hover-green"><form name="agree" action="?agree" method="post"><input type="submit" id="button" name="agree" value="AGREE" /></form></div></td>
<td><div id="hover-red"><form name="disagree" action="?reinstall" method="post"><input type="submit" id="button" name="disagree" value="DISAGREE" /></form></div></td>
</tr>
</table>