
	<span>Installation Completed!</span>
	
	<div id="bg-2"></div>
	
	<p style="padding:15px;">

Congratulations, you successfully installed DragonEye CMS system!
<br /><br />
Don't forget, you are not allowed to edit, delete or hide the copyright (it must be visible).
<br /><br />
Thanks for understanding, and don't forget to visit our website for support/updates/bug report/suggestions etc:
<br />
<a style="color:#dadada;" href="http://dragoneyecms.com">www.dragoneyecms.com</a>

<br />
<br />
Server response: 
<br />{server_response}

</p>

<div id="hover-green"><form name="next" action="index.php" method="post"><input type="submit" id="button" name="next" value="WEBSITE" /></form></div>
