	<span>Welcome to L2DragonEye CMS Installation.</span>

<div id="bg-1"></div>

	<p>

Hello Administrator,
<br /><br /><br />
Please take 5 minutes of your time in order to install DragonEye CMS.
<br /><br />
It's simple, you just have to complete database configurations, database structure (needed for server compatibility), server name, website url, meta tags, access levels and mail connection.
<br /><br />
After, you can access the administration panel with your account to manage the whole website (admin panel account it's the same as in-game admin account, so if you don't have one just use register then manually change it's access level from database).
<br /><br />
For more details about DragonEye Content Management System visit:
<br /><br />
<a style="color:#dadada;" href="http://dragoneyecms.com">www.dragoneyecms.com</a>
<br /><br /><br />

Thank you,

<br /><br />


L2DragonEye Staff.

</p>

<div id="hover-green"><form name="install" action="?get_started" method="post"><input type="submit" id="button" name="install" value="INSTALL" /></form></div>
