<br /><br />
You are now viewing '{char_name}' character!

<br />
<br />

<div id="button-field" onclick="window.location='?page=account&characters&id={char_id}&details';">Char Details</div>
<div id="button-field" onclick="window.location='?page=account&characters&id={char_id}&settings';">Char Settings</div>
<div id="button-field" onclick="window.location='?page=account&characters&id={char_id}&signature';">Signature</div>
<br /><br />
<div id="button-field" onclick="window.location='?page=account&shop';">Shop</div>
<br />

{the_content}

<br />
<br />

<input type="submit" name="back" value="[lang_back]" onclick="window.location='?page=account&characters'" />