<br />
<table id="clan-details" cellspacing="2" cellpadding="2">
<tr>
<th>[lang_clan]</th>
<th>[lang_clan_level]</th>
<th>[lang_clan_leader]</th>
<th>[lang_clan_ally]</th>
<th>[lang_clan_castle]</th>
<th>[lang_clan_members]</th>
</tr>
<tr>
<td>{clan_name}</td>
<td>{clan_level}</td>
<td>{clan_leader}</td>
<td>{clan_ally}</td>
<td>{clan_castle}</td>
<td><a href="?page=account&clans&id={clan_id}&members">{clan_members}</a></td>
</tr>
</table>
<br /><br />
<input type="submit" name="back" value="[lang_back]" onclick="window.location='?page=account&characters'" />