
</table>
<br />
<div style="float:left;width:911px;font-size:10px;margin-top:25px;">
<div class="corner-bl"><div class="corner-br"><div class="corner-tl"><div class="corner-tr">
<div id="cdata-text" style="text-align:center;">

<div class="typeface-js" style="font-family: Visitor TT1 BRK;color:#909090;font-weight:normal;display:inline;">
DESIGNED BY <div style="font-family: Visitor TT1 BRK;color:#ffffff;display:inline;">ERROR 404</div> - CODED BY <div style="font-family: Visitor TT1 BRK;color:#ffffff;display:inline;">MICHAEL9UFO</div>

ALL IMAGES BELONG TO THEIR RESPECTIVE OWNERS.
<!-- Output copyright, you are not allowed to change it(You can change only style but in a visible one -->
&#169; <div style="font-family: Visitor TT1 BRK;color:#ffffff;display:inline;"><a href="http://dragoneyecms.com" style="color:#ffffff;text-decoration:none;">{cms_copyright}</a></div> - <div style="font-family: Visitor TT1 BRK;color:#ffffff;display:inline;">2011 &#169; NCSOFT</div> - <div style="font-family: Visitor TT1 BRK;color:#ffffff;display:inline;">2004-2011</div>
</div>
</div>
</div></div></div></div>
<div class="typeface-js" style="font-family: Visitor TT1 BRK;color:#909090;text-align:center;font-weight:normal;padding:10px;">

Language Select
{language_form}
{e_time}
{query_count}
</div>
<div style="margin-top:15px;margin-bottom:40px;" id="sep-long"></div>
</div>
</div>
</body>
</html>