<tr>
<td>
<div id="slide-image" style="width:612px;height:211px;margin-top:15px;background-image:url('{gallery_img.png]');background-repeat:no-repeat;z-index:1;position:relative;">
<div class="corner-bl" style="background-color:transparent;"><div style="height:211px;z-index:-50;background-color:transparent;" class="corner-br"><div class="corner-tl"><div class="corner-tr">
<div style="background-image:url('{left_slider.png]');position:absolute;width:50px;height:51px;top:75px;left:20px;" onclick="javascript:prev_slide();"></div>
<div style="background-image:url('{right_slider.png]');position:absolute;width:50px;height:51px;top:75px;left:87%;" onclick="javascript:next_slide();"></div>
<div id="news-bar">
<div class="typeface-js" style="font-family: Visitor TT1 BRK;font-weight:normal;color:#ffffff;font-weight:normal;display:inline;font-size:10px;padding:1px;padding-left:5px;">
[lang_fresh_news]
</div>

</div>
</div></div></div></div></div>
</td>
</tr>

{cdata}
