<table cellspacing="5" cellpadding="5">

<tr>
	<th>HTML Code</th>
	<td>
	<textarea style="width:500px;height:60px;"><a href="[config_website_url]" target="_blank"><img src="{player_signature}" border="0" width="475" height="114" /></a></textarea>
	</td>
</tr>
<tr>
	<th>D64 Code</th>
	<td>
	<textarea style="width:500px;height:60px;">@a-[config_website_url]-_blank-:@img-{player_signature}-0-475-114-::a@</textarea>
	</td>
</tr>
<tr>
	<th>Direct Link</th>
	<td>
	<textarea style="width:500px;height:60px;">{player_signature}</textarea>
	</td>
</tr>
<tr>
	<td>&nbsp;</td><td><div id="sep-medium"></div></td>
</tr>
<tr>
	<th><u>Preview</u></th>
	<td>
	<a href="[config_website_url]" target="_blank"><img src="{player_signature}" border="0" width="475" height="114" /></a>
	Signature refreshes every [config_stats_player_signature_cache] seconds
	</td>
</tr>
</table>